{% extends "templates/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
    {{ super() }}

    {{ govukBackLink({
        text: "Back",
        href: "/projects/" + project.projectId
    }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Deleting: {{ project.name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         
                {{ govukWarningText({
                text: "This action is permanent and cannot be undone.",
                iconFallbackText: "Warning"
                }) }}

                {{ govukRadios({ 
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: ["Are you sure you wish to delete ", project.name, "?"] | join,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "true",
      text: "Yes"
    },
    {
      value: "false",
      text: "No"
    }
  ]
}) }}

          <form method="post">
            {{ govukButton({
            text: "Submit",
            classes: "govuk-button--warning"
        }) }}
        </form>

    </div>
  </div>
{% endblock %}