{% extends "templates/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
    {{ super() }}

    {{ govukBackLink({
        text: "Back",
        href: "/client"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-xl">Create a Client</h1>

        <form class="form" method="post">

            {{ govukInput({
                label: {
                    text: "Full name",
                    classes: "govuk-label--m"
                },
                id: "name",
                name: "name",
                autocomplete: "name",
                spellcheck: false
            }) }}

            </br></br>

            {{ govukButton({
                text: "Submit",
                preventDoubleClick: true
              }) }}
        </form>

    </div>

  </div>

{% endblock %}