{% extends "templates/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set name = deliveryEmployee.name %}

{% block beforeContent %}
    {{ super() }}

    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            },
            {
                text: "Delivery Employees",
                href: "/delivery-employees"
            },
            {
                text: name,
                href: "/delivery-employees/" + deliveryEmployee.deliveryEmployeeId
            }
        ]
        }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Viewing: {{ name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         
                {{ govukSummaryList({
            rows: [
            {
                key: {
                  text: "Employee number"
                },
                value: {
                  text: deliveryEmployee.deliveryEmployeeId
                }
              },
              {
                key: {
                  text: "Salary"
                },
                value: {
                  text: "£" + deliveryEmployee.salary | currency
                }
              },
              {
                key: {
                  text: "IBAN"
                },
                value: {
                  text: deliveryEmployee.bankAccountNumber
                }
              },
              {
                key: {
                  text: "National Insurance Number"
                },
                value: {
                  text: deliveryEmployee.nationalInsuranceNumber
                }
              }
            ]
          }) }}

            <form action="/delivery-employees/edit/{{ deliveryEmployee.deliveryEmployeeId }}">
          {{ govukButton({
            text: "Edit employee",
            classes: "govuk-button--secondary"
        }) }}
          </form>

          <form action="/delivery-employees/delete/{{ deliveryEmployee.deliveryEmployeeId }}">
          {{ govukButton({
            text: "Delete employee",
            classes: "govuk-button--warning"
        }) }}
          </form>

    </div>
  </div>
{% endblock %}